---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="row">
            <div class="col-xs-12 col-md-6 maintitle">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
        
    </div>

</div>
<!-- End Hero -->

<!-- Start 3 columns -- THIS IS COMMENTED FOR NOW.
<div class="three-shade-col">
    <div class="col-sm-4">
        
        <h3>Events</h3>
        <ul>
           
        </ul>
    </div>
    <div class="col-sm-4">
        

         <h3><a href="{{ site.blogs }}">Blogs</a></h3>
        {% for blog in site.data.blogs limit:1 %}
             <h4><a href="{{ blog.link }}"> {{ blog.name }} </a></h4>
             <p> {{ blog.description }} </p>
        {% endfor %}
    </div>
    <div class="col-sm-4">
        
        <h3><a href="{{ site.career.web }}" data-toggle="tooltip" data-placement="bottom" title="Careers" target="_blank">Careers</a></h3>
        <p>Looking for challenging work with purpose?</p>
        <p><a href="{{ site.career.life }}" data-toggle="tooltip" data-placement="bottom" title="Life" target="_blank">Life at American Express</a></p>
            
    </div>
</div>
-->
<!-- End 3 columns -->


<!-- Start repositories -->
<div id="repositories" class="amexparallax parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.amexparallax.parallax_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <h2 class="section-title">Repositories</h2>

            <div class="row">
                {% for repository in site.data.repositories %}
                <div class="col-sm-6 col-xs-12 col-md-4">
                    <div class="icon-box">

                        <h4>{{ repository.title }}</h4>
                        <p>{{ repository.description }}</p>
                        <a href="{{ repository.ref }}" data-toggle="tooltip" data-placement="bottom" title="Life" >
                            <a href="{{ repository.ref }}" target="_blank">
                              <img src="img/GitHub-Mark-32px.png" alt="github">
                            </a>  
                        </a>
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div>

      <!-- End repositories -->


      <!-- Start Our careers -->
        <div id="careers" class="careers">
            <div class="container-fluid">
                <div class="well well-lg careerpanel"> 
                    <h2 class="section-title">Careers</h2>

                    <div class="row">
                        <div class="col-sm-12">
                            <p>Join Us at American Express!

                              Visit us at our <a href="{{ site.career.web }}" target="_blank">Careers website</a>.
                            </p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
       <!-- End Our careers -->

        <!-- Start Our Contact us -->
        <div id="contactus" class="contactus"> 
            <div class="container-fluid">
                <div class="well well-lg contactpanel">
                    <h2 class="section-title">Contact Us</h2>

                    <div class="row">
                        <div class="col-sm-12">
                            <p>Share your views, comments about the content of our website or our open source repositories.</br>
                               Let us know how we can improve our website and code. 
                               <a href="mailto:{{ site.osf.email }}" title="{{ site.osf.email }}"><svg class="icon icon-envelope"><use xlink:href="#icon-envelope"></use></svg> Mail us!</a>
                            </p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Our Contact us -->
