





    <!-- Navigation Start -->

    <nav class="navbar-fixed-top nav-blog top-nav-collapse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
       
        <a class="navbar-brand page-scroll" href="/">
            <div>
                <img src="{{ site.logo_url }}" alt="{{ site.title }}">
            </div>
        </a>
      



  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse scrollspy" id="navbar-main-collapse">
      <ul class="nav navbar-nav navbar-right">
        
      <!-- Scroll to section for each page in index -->

      <li><a class="scroll menustyle" href="/"> Home </a>
      </li>
      <li><a class="scroll menustyle" href="/#repositories"> Repositories </a>
      </li>
      <li><a class="scroll menustyle" href="/#careers"> Careers </a>
      </li>
      <li><a class="scroll menustyle" href="/#contactus"> Contact Us </a>
      </li>
      <li class="active"><a class="scroll menustyle" href="{{ site.blogs }}"> Blogs </a>
      </li> 
      
  </ul>
  
</div>
</nav>

<!-- Navigation End -->
<!-- End Header -->

<!-- Start Hero -->
<!-- no Hero on blog -->
<!-- End Hero -->