<!-- Start Header -->
<nav class="navbar navbar-default navbar-fixed-top navbck">
    <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if page.url == '/' %}
                <a class="navbar-brand scroll" href="#top"><img src="{{ site.logo_url }}" alt="{{ site.title }}"></a>
            {% else %}
                <a class="navbar-brand scroll" href="/"><img src="{{ site.logo_url }}" alt="{{ site.title }}"></a>
            {% endif %}

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if page.url == '/' %}
                    <li><a class="scroll" href="#top">Home</a></li>
                    <li><a class="scroll" href="#repositories">Repositories</a></li>
                    <li><a class="scroll" href="#careers">Careers</a></li>
                    <li><a class="scroll" href="#contactus">Contact Us</a></li>
                    <li><a class="scroll" href="{{ site.blogs }}">Blogs</a></li>

                {% else %}
                    <li><a class="scroll" href="/">Home</a></li>
                    <li><a class="scroll" href="/#repositories">Repositories</a></li>
                    <li><a class="scroll" href="/#careers">Careers</a></li>
                    <li><a class="scroll" href="/#contactus">Contact Us</a></li>
                    <li><a class="blue-blog" href="{{ site.blogs }}">Blogs</a></li>
                    
                {% endif %}
                
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->