/* NAV
-------------------------------------------------*/

.navbar {
    margin-bottom: 0;
    border: 1;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus {
    color: $colorBase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: $white;
    background: lighten($pelorous, 2%);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: $white;
    background: darken($pelorous, 5%);
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    background: $pelorous;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    color: $white;
} 

.navbar-default .navbar-toggle .icon-bar {
    background: $white;
} 


// nav bar custom code for navbar action

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;

    /* Fix height limit and scroll for small screen and many items menu */
    max-height: 100%;
    overflow-y: auto;

    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: blue !important;
        &:focus,
        &:active {
            outline: 2;
        }
    }
    .navbar-brand {
        font-weight: 700;
        padding: 0;
    line-height: 70px;
        &:focus {
            outline: 2;
        }
    }
    a {
        color: #FFF;
        
    }
    .nav {
        text-align: right;
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(black, 0.8);
                    outline: none;
                    background-color: rgba(255,255,255, 0.3);
                }
                &:focus,
                &:active {
                    outline: 1;
                      background-color: rgba(255,255,255, 0.3);
                }
            }
            &.active {
                outline: 1;
                a {
                    background-color: rgba(255,255,255, 0.3);
                    &:hover {
                        background-color: rgba(255,255,255, 0.3);
                    }
                }
            }
        }
    }
    @media(min-width:700px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: #000;
            border-bottom: 1px solid rgba(255,255,255, 0.3);
        }
    }

}

/* ----- THIS IS THE CLASS FOR BLOG HEADER PAGE ---*/

.nav-blog {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: black;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: black;
            border-bottom: 1px solid rgba(255,255,255, 0.3);
        }
    }
