/* Careers
-----------------------------------------------------*/
.careers {
    /* background: $bckGrey; */
    padding: 60px 0;
}

/*.careers h2 {
    color: $colorHeading;
} */

.careers a {
    color: $careerlinkcolor;
}

.careers p {
	margin-top:-2em;
}

.careerpanel {
	background: $gradientbck;
}