/* Careers
-----------------------------------------------------*/
.careers {
    background: $pelorous;
    color: $white;
    padding: 60px 0;
}

.careers h2 {
    color: $white;
}

.careers a {
    color: $careerlinkcolor;
}