


/* contact us
------------------------------------------------------*/
.contactus{
    /* background: linear-gradient(240deg,#FFF,#b3d9ff); */
    padding: 60px 0;
    color: $colorHeading;
}

.contactus a {
	color: $careerlinkcolor;
}

.contactpanel{
	background: linear-gradient(240deg,#FFF,#b3d9ff);
	margin-top: -5em;
}

.contactus p {
	margin-top:-2em;
}