/* HERO
-------------------------------------------------*/
.hero {
    position: relative;
    margin-top: 70px;
    height: 20em;
    .container-fluid {
        position: relative;
    }
    .icon {
        margin-right: 10px;
        color: $colorPrimary;
        vertical-align: top;
    }
}

.hero-content {
    padding: $space 0;



    h1 {
        margin: 2em -3em 0.5em;
        color: $maintitle;
    }


    p {
        font-size: 1.125rem;
        color: $maintitle;
    }

}

/* TITLE, DESCRIPTION
----------------------------------------------------*/

.maintitle p {
    text-align: center;
}



/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 700px) {
    .maintitle p {
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .maintitle p {
        text-align: center;
    }

}

@media screen and (min-width: 1000px) {
    .maintitle p {
        text-align: left;
    }

}

.maintitle {
    color: $colorHeading;
}


